# =========================
# PIA Credentials
# =========================
PIA_USER=your_pia_username
PIA_PASS=your_pia_password

# =========================
# Helper API Auth
# =========================
HELPER_TOKEN=YourToken

# =========================
# Server Settings
# =========================
SERVER_HOST=0.0.0.0
SERVER_PORT=9090

# =========================
# Paths
# =========================
PIA_MANUAL_CONNECTIONS_DIR=/home/automation/pia/manual-connections
PIA_OUTPUT_CONF=/home/automation/pia/helper/wg0-creds.conf

# =========================
# PIA Behavior
# =========================
VPN_PROTOCOL=wireguard
DISABLE_IPV6=yes
DIP_TOKEN=no
AUTOCONNECT=true
PIA_PF=false
PIA_DNS=false
PIA_CONNECT=false
