# =========================
# PIA Credentials (REQUIRED)
# =========================
PIA_USER=your_pia_username
PIA_PASS=your_pia_password

# =========================
# WireGuard Paths
# =========================
WG_INTERFACE=wg0
WG_CONF_PATH=/opt/pia-wg-watchdog/configs/wg0.conf
PIA_CREDS_CONF_PATH=/opt/pia-wg-watchdog/configs/wg0-creds.conf

# =========================
# PIA Settings
# =========================
VPN_PROTOCOL=wireguard
DISABLE_IPV6=yes
DIP_TOKEN=no
AUTOCONNECT=true
PIA_PF=false
PIA_DNS=false
PIA_CONNECT=false

# =========================
# Watchdog Behavior
# =========================
CHECK_INTERVAL=30
MAX_FAILURES=5
SETUP_COOLDOWN=300

# Comma-separated
PING_TARGETS=1.1.1.1,1.0.0.1

#Helper
PIA_HELPER_URL=http://YOUR_IP:9090/refresh
PIA_HELPER_TOKEN=YOUR_TOKEN

